a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.color_grey {
  color: $mainFeature;
}
.fa-download {
  font-size: 14px;
  color: #fff;
}
.header {
  &__nav {
    background: #303030;
    height: 95px;
    &_logo {
      font-size: 36px;
      float: left;
      color: #fff;
      font-weight: bold;
      margin: 25px 0;
    }
    &_menu {
      margin: 35px 0;
      padding: 0;
      float: right;
    }
    &_menu-item {
      list-style: none;
      display: inline-block;
      padding: 0 20px;
    }
    &_menu-link {
      font-size: 10px;
      font-weight: bold;
      text-transform: uppercase;
      color: #cccccc;
    }
  }
}

.header__heading {
  background: url(../src/images/header__bg.jpg) no-repeat center / cover;
  margin: 0;
  min-height: 675px;
  text-transform: uppercase;
  &-text {
    font-size: 20px;
    color: #fff;
    margin: 0;
    padding: 190px 0 0 0;
  }
  &-title {
    font-size: 48px;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
  }
  &-button {
    font-size: 14px;
    background: #262320;
    border: none;
    border-radius: 3px;
    width: 265px;
    height: 60px;
    margin-top: 65px;
    &-title {
      color: #fff;
      text-transform: uppercase;
      margin: 10px;
    }
  }
}



    



